@import 'nib'
//global-reset()
.content-edible
  outline 1px solid fuchsia

nav.edible-toolbar

  outline 1px solid #ccc
  a
    display inline-block
    padding 3px
    padding-top @padding +2
    margin 0
    text-align center
    min-width 1em
    min-height 1em
    border 1px solid #cecece
    border-radius 4px
    &.active
      background-color #000
      color #fff
    &.supported
      //outline 1px solid fuchsia
    &.disabled
      color #cecece
      pointer-events none
  nav
    display inline-block
